<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>南非语</key>
	<string>Jakob</string>
	<key>阿尔巴尼亚语</key>
	<string>Jakup</string>
	<key>英文</key>
	<string>James</string>
	<key>阿姆哈拉语</key>
	<string>ያዕቆብ</string>
	<key>阿拉伯语</key>
	<string>يعقوب</string>
	<key>亚美尼亚语</key>
	<string>Հակոբ</string>
	<key>阿塞拜疆语</key>
	<string>Yaqub</string>
	<key>巴斯克语</key>
	<string>Jakes</string>
	<key>白俄罗斯语</key>
	<string>Jakub</string>
	<key>布列塔尼语</key>
	<string>Jagu</string>
	<key>保加利亚语</key>
	<string>Яков</string>
	<key>加泰罗尼亚语</key>
	<string>Jaim</string>
	<key>中文</key>
	<string>詹姆斯</string>
	<key>康瓦尔语</key>
	<string>Jago</string>
	<key>克罗地亚语</key>
	<string>Jakov</string>
	<key>捷克语</key>
	<string>Jakub</string>
	<key>丹麦语</key>
	<string>Jakob</string>
	<key>荷兰语</key>
	<string>Jacob</string>
	<key>爱沙尼亚语</key>
	<string>Jakob</string>
	<key>法罗语</key>
	<string>Jákup</string>
	<key>芬兰语</key>
	<string>Jaakob</string>
	<key>法语</key>
	<string>français</string>
	<key>弗留利语</key>
	<string>Jacun</string>
	<key>加里西亚语</key>
	<string>Xaime</string>
	<key>德语</key>
	<string>Jakob</string>
	<key>现代希腊语</key>
	<string>Ιάκωβος</string>
	<key>夏威夷语</key>
	<string>Kimo</string>
	<key>希伯来语</key>
	<string>יעקב</string>
	<key>匈牙利语</key>
	<string>Jakab</string>
	<key>冰岛语</key>
	<string>Jakob</string>
	<key>印尼语</key>
	<string>Yakobus</string>
	<key>爱尔兰语</key>
	<string>Séamas</string>
	<key>意大利语</key>
	<string>Giacomo</string>
	<key>日语</key>
	<string>ヤコブ</string>
	<key>韩语</key>
	<string>야곱</string>
	<key>拉丁语</key>
	<string>Iacobus</string>
	<key>马拉雅拉姆语</key>
	<string>യാക്കോബ്‌</string>
	<key>马耳他语</key>
	<string>Gakbu</string>
	<key>马恩岛语</key>
	<string>Jayms</string>
	<key>毛利语</key>
	<string>Hemi</string>
	<key>挪威语</key>
	<string>Jakob</string>
	<key>奥克语</key>
	<string>Jammes</string>
	<key>波兰语</key>
	<string>Kubuś</string>
	<key>葡萄牙语</key>
	<string>Jacó</string>
	<key>普罗文斯语</key>
	<string>Jacme</string>
	<key>罗马尼亚语</key>
	<string>Iacob</string>
	<key>俄语</key>
	<string>Яков</string>
	<key>苏格兰盖尔语</key>
	<string>Seumas</string>
	<key>塞尔维亚语</key>
	<string>Јаша</string>
	<key>斯洛伐克语</key>
	<string>Jakub</string>
	<key>西班牙语</key>
	<string>Jacobo</string>
	<key>瑞典语</key>
	<string>Jakob</string>
	<key>瑞士德语</key>
	<string>Köbi</string>
	<key>叙利亚语</key>
	<string>ܝܰܥܩܽܘܒ</string>
	<key>他加禄语</key>
	<string>Jaime</string>
	<key>土耳其语</key>
	<string>Yakup</string>
	<key>乌克兰语</key>
	<string>Яків</string>
	<key>威尔士语</key>
	<string>Jâms</string>
	<key>意第绪语</key>
	<string>Yankel</string>
</dict>
</plist>
